<!DOCTYPE html>
<html ng-app="Relatorios">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/relatoriosCtrl.js"></script>


	<title>Relatórios</title>

</head>


<body ng-controller="relatoriosCtrl" class="form-horizontal">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="login.html">Service Desk</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="home.html">Home</a></li>
				<li><a href="cadastrarUsuario.html">Administrar Usuário</a ></li>
				<li><a href="abrirChamado.html">Abrir Chamado</a></li> 
				<li><a href="#">Relatórios</a></li> 
			</ul>
		</div>
	</nav>
	<div class="container">
		<h3>{{topo}}</h3>

	</div>
	<div>
		

	</body>	
	
	<tbody>

		<form style="margin-top:50px" class="form-horizontal">

			<table style="margin-top:10px" class="table table-striped">
				<tr>
					<div class="form-group">


						<label class="control-label col-sm-1" border:1px solid #00c64b;for="nome">Pendente:</label>
						<div class="col-sm-1">
							<input type="text" class="form-control" placeholder=10 ng-model="Dados.pendente" >
						</div>

						<label class="control-label col-sm-1" for="usuario">Em Atendimento:</label>
						<div class="col-sm-1">
							<input  type="text" color= #9988 class="form-control"  placeholder="100" ng-model="Dados.ematendimentoo">
						</div>

						<label  class="control-label col-sm-1" for="usuario">Fechado:</label>
						<div class="col-sm-1">
							<input type="text" class="form-control"  placeholder="500" ng-model="Dados.fechado">
						</div>
					</div>	


				</tr>	
			</table>


		</form>	


		<form style="margin-top:100px" class="form-horizontal">

			<table style="margin-top:10px" class="table table-striped">
				<tr>
					<div class="form-group">



						<label class="control-label col-sm-1" for="nome">Data inicío:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" placeholder="" ng-model="Dados.nome" >
						</div>

					</div>

					<div class="form-group">

						<label class="control-label col-sm-1" for="usuario">Data fim:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control"  placeholder="" ng-model="Dados.usuario">
						</div>
					</div>	


				</tr>	
			</table>


		</form>							
	</tbody>


	<form>

		<button style="margin-left:100px" class="btn btn-primary" ng-click="adicionarDados(Dados)"> Gerar Relatório</button>

	</form>
</div>


<table style="margin-top:150px" class="table table-striped">
	<tr>
		<th>Chamado</th>
		<th>Área Responsavél</th>
		<th>Problema</th>
		<th>Descrição do problema </th>
		<th>Setor</th>
		<th>Contato</th>
		<th>Ramal</th>
	</tr>
	<tbody>
		<tr ng-repeat="dados in nomes | filter:buscaDados">
			<td>{{dados.chamado = $index+1}} </td>
			<td>{{dados.area}} </td>
			<td>{{dados.problema}} </td>
			<td>{{dados.descricao}} </td>
			<td>{{dados.setor}} </td>
			<td>{{dados.contato}} </td>
			<td>{{dados.ramal}} </td>
		</tr>
	</tbody>
</table>


</html>



